@model IEnumerable<DimaMaster.Controllers.TopClientsView>

@{
    ViewBag.Title = "TopProfitServices";
}

<div class="navbar navbar-inverse">
    <div class="container">

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li>@Html.ActionLink("TopClients", "TopClients", "Home")</li>
                <li>@Html.ActionLink("TopProfitServices", "TopProfitServices", "Home")</li>
                <li>@Html.ActionLink("TopServices", "TopServices", "Home")</li>
                <li>@Html.ActionLink("TopEmployee", "TopEmployee", "Home")</li>
                <li>@Html.ActionLink("MostProfitableEmployee", "MostProfitableEmployee", "Home")</li>



            </ul>
        </div>
    </div>
</div>
<div id="topProiftServices" style="display:none" data-json="@(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Take(10)))"></div>


<div class="container">
    <div class="demo-container" ng-app="DemoApp" ng-controller="DemoController">

        <div class="row">
            <div class="col-md-12">

                <div id="pie4" dx-pie-chart="chartOptionsClients"></div>

            </div>
        </div>

    </div>
</div>



<script src="~/Scripts/HomeChartsData.js"></script>
<script src="~/Scripts/HomeCharts.js"></script>
<h2>TopProfitServices</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lfm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lfm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSum)
        </td>
        
    </tr>
}

</table>
