@model IEnumerable<DimaMaster.Controllers.TopClientsView>

@{
    ViewBag.Title = "TopProfitServices";
}

<h2>TopProfitServices</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lfm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalSum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lfm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalSum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
