@model IEnumerable<DimaMaster.Controllers.MostOrderedServices>

@{
    ViewBag.Title = "TopServices";
}

<div class="navbar navbar-inverse">
    <div class="container">

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li>@Html.ActionLink("TopClients", "TopClients", "Home")</li>
                <li>@Html.ActionLink("TopProfitServices", "TopProfitServices", "Home")</li>
                <li>@Html.ActionLink("TopServices", "TopServices", "Home")</li>
                <li>@Html.ActionLink("TopEmployee", "TopEmployee", "Home")</li>
                <li>@Html.ActionLink("MostProfitableEmployee", "MostProfitableEmployee", "Home")</li>



            </ul>
        </div>
    </div>
</div>
<div id="topEmployeeCount" style="display:none" data-json="@(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x=> new { Lfm = x.ServiceName, x.Count}).Take(5)))"></div>


<div class="container">
    <div class="demo-container" ng-app="DemoApp" ng-controller="DemoController">

        <div class="row">
            <div class="col-md-8" ng-init="topEmployeeCountChart.title = 'Rank Services by count order'">

                <div id="pie2" dx-chart="topEmployeeCountChart"></div>

            </div>
        </div>

    </div>
</div>



<script src="~/Scripts/HomeChartsData.js"></script>
<script src="~/Scripts/HomeCharts.js"></script>
<h2>TopServices</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        
    </tr>
}

</table>
