@model IEnumerable<DimaMaster.Controllers.MostOrderedServices>

@{
    ViewBag.Title = "TopServices";
}

<div class="navbar navbar-inverse">
    <div class="container">

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li>@Html.ActionLink("TopClients", "TopClients", "Home")</li>
                <li>@Html.ActionLink("TopProfitServices", "TopProfitServices", "Home")</li>
                <li>@Html.ActionLink("TopServices", "TopServices", "Home")</li>
                <li>@Html.ActionLink("TopEmployee", "TopEmployee", "Home")</li>
                <li>@Html.ActionLink("MostProfitableEmployee", "MostProfitableEmployee", "Home")</li>



            </ul>
        </div>
    </div>
</div>

<h2>TopServices</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        
    </tr>
}

</table>
