@model DimaMaster.Models.CarService

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CarService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Place.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShiftStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShiftEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShiftEnd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarServiceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
